.navList{
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navText{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #252A34;
}